/* google font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* root */
:root {
    --primary: #51ACFF;
    --background: #E2F1FF;
}

p {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}
/* use font google */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar img {
    margin: -100px 0 0 0;
    width: 300px;
    height: auto;
    margin: 10px auto;
}

.title {
    /* text-align: center; */
    margin: 20px 0;
}

.title h1 {
    color: var(--primary);
    font-size: 2.5rem;
    margin: -70px 0 0 0;
}

.title p {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px 0;
}

#input-text {
    /* font poppins */
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 80%;
    height: 80px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    /* outline: var(--primary) 1.4px solid; */
}

#output-text {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary); /* Mengubah warna teks menjadi biru */
    color: white; /* Mengubah warna background menjadi putih */
    /* ubah warna placeholder */
    font-size: 1rem;
    width: 80%;
    height: 80px;
    margin: 10px 0 ;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    outline: var(--primary) 1.4px solid;
}

#copied {
    color: red;
    font-size: 1rem;
    margin: 10px 0;
}

button {
    width: 84%;
    margin: 10px 0;
    padding: 5px 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    outline: var(--primary) 1.4px solid;
}

/* desktop */
@media screen and (min-width: 768px) {
    

    .avatar img {
        margin-top: -50px;
        width: 300px;
    }

    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 1.5rem;
    }

    .text-area {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    textarea {
        font-size: 1.2rem;
        width: 90%;
        height: 100px;
    }

    #input-text {
        margin-right: 20px;
        font-size: 1.2rem;
        width: 50%;
        height: 100px;
    }

    #output-text {
        margin-left: 20px;
        font-size: 1.2rem;
        width: 50%;
        height: 100px;
    }

    button {
        font-size: 1.5rem;
        width: 80%;
        padding: 10px 30px;
    }
}
